body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Helvetica";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*LANDING PAGE*/

.landingLeft {
  height: 100vh;
  border-right: 1px solid #e3e3e3;
}

.landingImage {
  display: inline-block;
  float: left;
  width: 45%;
  margin-top: 32px;
  margin-left: 35px;
  background: #e3e3e35e;
  padding: 30px;
  border-radius: 20px;
}

.landingPricing {
  display: inline-block;
  font-size: 150px;
  color: #000000;
  font-weight: 700;
  margin: 30px 0 10px 0;
}

.landingSelect {
  background-color: #f26522;
  font-weight: 700;
  color: #ffffff;
  padding: 16px;
  font-size: 55px;
  width: 250px;
  border-radius: 15px;
  display: inline-block;
  text-decoration: none;
}

.landingMiddleGrid {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

/*END LANDING PAGE*/

/*MAKE PAYMENT PAGE*/

.makePaymentLeft {
  background-color: #f26522;
  height: 100vh;
}

.makePaymentLeftDiv {
  width: 100%;
  margin: 250px 0px;
}

.makePaymentLeftTitle {
  color: #ffffff;
  font-size: 70px;
  text-align: center;
  font-weight: 700;
  display: block;
  margin: 0 auto;
}

.makePaymentGeneratingQR {
  display: block;
  margin: 0 auto;
  width: 100%;
  font-size: 25px;
  font-weight: 700;
  position: relative;
  top: 50px;
  left: 190px;
}

.makePaymentLeftDiv span {
  display: block;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  font-size: 55px;
}

.makePaymentLeft2BookmarkPrintoutsImage,
.makePaymentLeft4BookmarkPrintoutsImage,
.makePaymentLeft6BookmarkPrintoutsImage {
  width: 70%;
  display: block;
  margin: 50px auto 0 auto;
}

.makePaymentMainDiv {
  display: block;
  width: 100%;
}

.makePaymentInstruction {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 40px;
}

.makePaymentRef {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  color: #a7a6a6;
}

.makePaymentStatus {
  display: block;
  width: 100%;
  text-align: center;
  color: #f26522;
  font-weight: 700;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.makePaymentQRDiv {
  display: block;
  width: 100%;
}

.makePaymentInText {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin: 0px;
}

.makePaymentInText > div {
  position: relative;
  display: block;
  margin-top: 5px;
  font-weight: 700;
  font-size: 30px;
  width: auto !important;
  height: auto !important;
}

.makePaymentQRCode {
  display: block;
  margin: 0 auto;
  width: 40%;
}

.makePaymentAmount {
  display: block;
  width: 100%;
  text-align: center;
  color: #f26522;
  font-weight: 700;
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.makePaymentBackWarning {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #ff0000;
}

.makePaymentBackButton {
  margin: 50px auto 0 auto;
  text-align: center;
  background-color: #e3e3e3;
  font-weight: 700;
  color: #000000;
  padding: 16px;
  font-size: 55px;
  width: 250px;
  border-radius: 15px;
  display: block;
  text-decoration: none;
  border: none;
}
/*END MAKE PAYMENT PAGE*/

/*PAYMENT SUCCESS GIF 2 PAGE*/

.paymentSuccessGIF2Div {
  margin: 50px 0px;
}

.paymentSuccessGIF2ColorBlock {
  width: 5px;
  height: 5px;
  display: inline-block;
  background: #f8aaaa;
  position: relative;
  bottom: 55px;
  left: 5px;
}

.paymentSuccessGIF2Text {
  font-size: 120px;
  display: block;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-top: 150px;
}

.paymentSuccessGIF2ThankYou {
  font-size: 200px;
  display: block;
  text-align: center;
  color: #f26522;
  margin-top: 0px;
  margin-bottom: 10px;
}

.paymentSuccessGIF2Message {
  font-size: 50px;
  display: block;
  text-align: center;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 20px;
}

.paymentSuccessGIF2CountDown > div {
  position: relative;
  left: 45px !important;
}

.paymentSuccessGIF2LogoDiv {
  display: inline-block;
  position: relative;
  top: 90px;
  left: 1200px;
  width: 30%;
}

.paymentSuccessGIF2Logo {
  width: 100%;
  display: inline-block;
}

.paymentSuccessGIF2Presented {
  display: inline-block;
  font-weight: 700;
  font-size: 35px;
}

/*END PAYMENT SUCCESS GIF 2 PAGE*/

/*PAYMENT SUCCESS GIF 4 PAGE*/

.paymentSuccessGIF4Div {
  margin: 50px 0px;
}

.paymentSuccessGIF4ColorBlock {
  width: 5px;
  height: 5px;
  display: inline-block;
  background: #afffb6;
  position: relative;
  bottom: 55px;
  left: 5px;
}

.paymentSuccessGIF4Text {
  font-size: 120px;
  display: block;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-top: 150px;
}

.paymentSuccessGIF4ThankYou {
  font-size: 200px;
  display: block;
  text-align: center;
  color: #f26522;
  margin-top: 0px;
  margin-bottom: 10px;
}

.paymentSuccessGIF4Message {
  font-size: 50px;
  display: block;
  text-align: center;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 20px;
}

.paymentSuccessGIF4CountDown > div {
  position: relative;
  left: 45px !important;
}

.paymentSuccessGIF4LogoDiv {
  display: inline-block;
  position: relative;
  top: 90px;
  left: 1200px;
  width: 30%;
}

.paymentSuccessGIF4Logo {
  width: 100%;
  display: inline-block;
}

.paymentSuccessGIF4Presented {
  display: inline-block;
  font-weight: 700;
  font-size: 35px;
}

/*END PAYMENT SUCCESS GIF 4 PAGE*/

/*PAYMENT SUCCESS GIF 6 PAGE*/

.paymentSuccessGIF6Div {
  margin: 50px 0px;
}

.paymentSuccessGIF6ColorBlock {
  width: 5px;
  height: 5px;
  display: inline-block;
  background: #b2ccfd;
  position: relative;
  bottom: 55px;
  left: 5px;
}

.paymentSuccessGIF6Text {
  font-size: 120px;
  display: block;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-top: 150px;
}

.paymentSuccessGIF6ThankYou {
  font-size: 200px;
  display: block;
  text-align: center;
  color: #f26522;
  margin-top: 0px;
  margin-bottom: 10px;
}

.paymentSuccessGIF6Message {
  font-size: 50px;
  display: block;
  text-align: center;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 20px;
}

.paymentSuccessGIF6CountDown > div {
  position: relative;
  left: 45px !important;
}

.paymentSuccessGIF6LogoDiv {
  display: inline-block;
  position: relative;
  top: 90px;
  left: 1200px;
  width: 30%;
}

.paymentSuccessGIF6Logo {
  width: 100%;
  display: inline-block;
}

.paymentSuccessGIF6Presented {
  display: inline-block;
  font-weight: 700;
  font-size: 35px;
}

/*END PAYMENT SUCCESS GIF 6 PAGE*/